<h1>Clothing Store</h1>

<h2><% @product.each do |clothing| %></h2>
  <h2><%= clothing.product_type %></h2>
  <img src= "clothing.image">
  <h2><%= clothing.price %></h2>
  <h2><%= clothing.description %></h2>
  <br>
<% end %>