 <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-4 col-sm-6 product-index-single">
      <div class="well">
        <h2 class=border_left> <a href="/products/<%= product.id %>"><%= product.product_type %></a> </h2>
        <h2>$<%= product.price %></h2>
        <h2 class=border_right><%= product.description %></h2>
      </div>
    </div>
  <% end %>
</div>