 <div class="form_style" >
  <%= form_tag "/products", method: :post do %>
    <div>
      Product:<br> <input type="text" name="product_type">
    </div>
    <div>
      <!-- Image:<br> <input type="text" name="image"> -->
    </div>
    <div>
      Price: <br><input type="text" name="price">
    </div>
    <div>
      Description: <br><input type="text" name="description">
    </div>
    <div>
      <input type="submit" value="New Product">
    </div>
    <!-- <div>
      Supplier:
      <select name="supplier_id">
        
      </select>
    </div>
 -->  <% end %>
</div>