<%= form_tag "/products/create", method: :post do %>
  <div>
    Product: <input type="text" name="product_type">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    <input type="submit" value="New Product">
  </div>
<% end %>